@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilda Display", serif;
}

:root {
    --text-color: #8E165E;
    --background-color: url("Group 1.png");
    --side-bar: rgba(255, 255, 255, 0.973);
    --footer-color:rgb(255, 255, 255) ;
}

.dark-theme {
    --text-color: #f0f0f0;
    --background-color: #8e165e; 
    --side-bar: #b34487eb;
    --footer-color: #390b27;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
}

#theme-toggle{
    width: 20px;
    height: 20px;
}


#fundo {
    background: var(--background-color);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 10vh 0 0;
}

#inicio {
    text-align: center;
}

#inicio a{
    text-decoration: none;
    color: var(--text-color);
}

#txt1 {
    font-size: 2em;
    font-weight: bold;
    color: var(--text-color);
}

#Portfolio {
    font-size: 4em;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 2vh;
}

#Tecnologia {
    font-size: 1.2em;
    color: var(--text-color);
}


.menu-icon {
    display: none;
    font-size: 1.5em;
    cursor: pointer;
    color: var(--text-color);
    position: absolute;
    top: 20px;
    right: 20px;
}


#menu {
    display: flex;
    gap: 1.5em;
    color: var(--text-color);
    font-size: 1em;
    justify-content: center;
    align-items: center;
}

#menu a {
    text-decoration: none;
    color: var(--text-color);
}


@media (max-width: 700px) {
    #menu {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 60%;
        height: 100%;
        background-color: var(--side-bar);
        color: var(--text-color);
        justify-content: center;
        align-items: center;
        gap: 1.5em;
        box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
        z-index: 10;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
    }

    #menu.open {
        transform: translateX(0);
        display: flex;
    }

    .menu-icon {
        display: block; 
    }
}

#rodape {
    display: flex;
    justify-content: space-between;

    gap: 1em;
    font-size: 1em;
    color: var(--text-color);
    background-color: var(--footer-color);
    width: 100%;
    padding: 1em 2%;
    text-align: center;
    border-top: 1px solid var(--text-color);
}

@media (max-width: 500px) {
    #Portfolio {
        font-size: 2.5em;
    }

    #txt1 {
        font-size: 1.5em;
    }
}




#sobre {
    display: flex;
    justify-content: space-evenly;
    font-size: 2em;
    color: var(--text-color);
    width: 50%;
    text-align: justify;
}

#foto {
    border-radius: 50%;
    overflow: hidden;
    width: 400px;
    height: 400px;
}

#foto img{
    width: 100%;
}

.flex{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}


@media (max-width: 700px) {

    .flex{
        width: 100%;
       align-items: center;
    }

    #foto{
        width: 300px;
        height: 300px;
    }

    #sobre{
        width: 90%;
        text-align: center;
        font-size: 20px;
        margin-top: 5vh;
    }
}


.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 90%; 
    max-width: 800px; 
    margin: 20px auto; 
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%; 
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
    color: var(--text-color); 
    background-color: var(--background-color); 
}

.carousel-item img{
    width: 450px;
}



.carousel-button {
    background-color: transparent;
    border: none;
    font-size: 2em;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-color); 
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}


#contato-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    color: var(--text-color);
}

#localizacao {
    flex: 1;
    margin-right: 20px;
}

#localizacao p{
    margin-bottom: 2vh;
}

#localizacao a{
    text-decoration: none;
    color: var(--text-color);
}

#formulario {
    flex: 1;
    width: 400px;
    background-color: var(--side-bar);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 15px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    background-color: var(--text-color);
    color: var(--footer-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #7a0f49;
    color: white;
}

#mensagem-sucesso {
    margin-top: 15px;
    color: green;
}
